<h1>変更</h1>

    <%= form_for(@user, url: "/users/update/#{session[:user_id]}",method: :post) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.submit "変更" %>
    <% end %>