<h1>TOP</h1>

<div class="paginate">
<%= will_paginate %>
</div>
</br>

<% @posts.each do |post| %>

<div class="post">
  <% if b = User.find_by(id: post.user_id) %>
  <a>「<%= b.name %>」<% else %><%= "ゲスト" %><% end %> さんの投稿</a><br>
  <div class="main_post">
  <%= post.content %></br>
  </div class></br>
        <div class="pic100">
    <%= image_tag post.picture.url if post.picture? %></br>
        </div>
  <%= link_to "詳細", "/posts/#{post.id}" %></br>
</div>
<% end %>
<div class="paginate">
<%= will_paginate %>
</div>