<h1>投稿の詳細ページ</h1>
<div class="post">
<% @a = Post.find_by(id: params[:id]) %>
<% if @a %>
<a>投稿内容：「</a><%= @a.content %><a>」</a></br>
<a>投稿時間：</a><%= @a.created_at %></br>
    <%= image_tag @a.picture.url if @a.picture? %></br>
<% if session[:user_id]%>
<% if Like.find_by(user_id: session[:user_id], post_id: @a.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
<% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
        
<% end %>
<% end %>

        <% @iines = Like.where(post_id: params[:id]) %><% @ha =[] %>
        </br>いいねの数
        <% @iines.each do |iine| %>
        <a><% @ha.push(iine.post_id) %></a>
        <% end %>
        <%= @ha.count %>コです。
</br>
</br>
[コメント]
</br>
<% comments = Comment.where(post_id: params[:id]) %>
<% comments.each do |co| %>
  
  
  ☆彡<%= co.comment %>
  </br>
  
  <% end %>


    <%= form_tag("/comments/create/#{@a.id}") do %>

      <textarea name="comment"></textarea>
      <input type="submit" value="コメント投稿" %>

    <% end %></br>

</br>
</br>
<%= link_to "削除","/posts/destroy/#{@a.id}", method: :delete %>
<% else %>
<a>みす</a>
</div>
<% end %>
</div>