<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio201911</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
<meta name="twitter:card" content="summary_large_image">
<meta name="og:title" content="Portfolio201911">
<meta name="og:description" content="Railsサイト制作中">
<meta property="og:image" content="https://www.pakutaso.com/shared/img/thumb/MIYAZAKI19116784_TP_V.jpg">

<meta name="viewport" content="width=device-width,initial-scale=1">


    
  </head>

  <body>
    
    <div class ="topg">
    
    <%= render 'layouts/header' %>

    <%= yield %>
    
    </br>
    
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
